.blog-bg {
  background: url(../../assets/images/blogs.png) center bottom / cover no-repeat;
  border-radius: 20px;
  margin: 32px 0px 0px;
  padding: 20px 28px;
}
@media (max-width: 768px) {
  .blog-bg {
    background: none;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
  }
}
