/* .swiper-container {
  overflow: visible;
}


.swiper-slide {
  margin: 0 !important;
}

.bg-vacancy {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
}
.swiper-3d {
  width: 100%;
  height: 400px;
} */

/* .swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
} */

/* .swiper-slide {
  margin-right: 33px !important;
} */
